block variables

html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet" href="../index.scss")
    script(src="../index.js" defer="defer")

  body
    include ../resources/widgets/Header/Header
    main(class=`page-content page--${pageClass}`)
      block content