:root {
  --theme-color: #1976cd;
  --theme-color-hover: #1565c0;
  --theme-text-color: #000000;

  --theme-warning: #dc1b2e;
  --theme-access: #27ae60;

  --white: #ffffff;
  --black: #000000;
  --light-gray: #f2f2f2;

  --theme-font-family: 'Exo2', sans-serif;
}
