-
  var ProductList = [
    {
      title: 'Silent Hill F',
      img: 'https://digiseller.mycdn.ink/imgwebp.ashx?idp=8625018&amp;dc=802447298&amp;w=400',
      price: '7620',
      platform: {
        title: 'Xbox',
        img: 'https://i.pinimg.com/736x/13/35/bc/1335bc1c29d07a5d9fa327c5c9d124d7.jpg'
      },
      platformVersion: '["Xbox Series X|S"]'
    },
    {
      title: 'TitanFall',
      img: 'https://avatars.mds.yandex.net/get-mpic/5209949/img_id2414330033505211004.jpeg/orig',
      price: '1680',
      platform: {
        title: 'Xbox',
        img: 'https://i.pinimg.com/736x/13/35/bc/1335bc1c29d07a5d9fa327c5c9d124d7.jpg'
      },
      platformVersion: '["Xbox One", "Xbox Series X|S"]'
    },
    {
      title: 'Spider-Man 2',
      img: 'https://avatars.mds.yandex.net/i?id=394a8994eb911277fde94b2fdd494434fe93de17-4143805-images-thumbs&n=13',
      price: '6390',
      platform: {
        title: 'PlayStation',
        img: 'https://upload.wikimedia.org/wikipedia/commons/0/05/PlayStation_logo.svg'
      },
      platformVersion: '["PlayStation 5"]'
    },
    {
      title: 'Final Fantasy VII Rebirth',
      img: 'https://avatars.mds.yandex.net/i?id=ef5836960e2641b4b7492dfff29a6ec737ad2570-5326139-images-thumbs&n=13',
      price: '7290',
      platform: {
        title: 'PlayStation',
        img: 'https://upload.wikimedia.org/wikipedia/commons/0/05/PlayStation_logo.svg'
      },
      platformVersion: '["PlayStation 5"]'
    }
  ];